<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/index.css" type="text/css"/>
    <link rel="stylesheet" href="/Css/addTable.css" type="text/css">
    <link rel="stylesheet" href="/Css/viewTable.css" type="text/css">
    <link rel="stylesheet" href="/Css/availableTime.css" type="text/css">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!--lineicons CDN-->
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css" />

    <!--Fredoka font family-->
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/fredoka-one" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/fredoka-one?styles=18586" rel="stylesheet">

    <!--search icon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!--notification icon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!--mail icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!--alert icon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!--dashboard icon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!--menu book icon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!--table icon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="d-flex">
        <!--sidebar start-->
       <div th:insert="sidebar"></div>
        <!--sidebar end -->

        <!--main content -->
        <div id="content" class="d-flex flex-column">
            <!--navbar start -->
             <nav class="navbar navbar-expand bg-white shadow px-3" th:insert="navbar"> </nav>
            <!--navbar end-->
            <!--main body start-->
            <main class="p-2">
                    <div class="container-fluid dashboard-item-container px-3">
                        <div class="mt-3 mb-5 font-monospace">    
                            <h2 class="dashboard-heading">Menu Items</h2>
                        </div>
                        <form action="updateTime" method="post" id="openingTimesForm">
                        
                        
					        <!-- Toggle Switch for Opening Times or Days -->
					        <div class="switch-container">
					            <div>
					                <label class="toggle-switch">
					                    <input type="checkbox" id="toggleTimes">
					                    <span class="slider"></span>
					                </label>
					            </div>
					            <div>
					                <!-- <label for="toggleTimes">Opening times</label>
					                <label for="toggleDays">Opening days</label> -->
					            </div>
					        </div>
								
								
					        <!-- Form rows for each day -->
					        <div class="day-row"  th:each="hr : ${allHours}">
					            <label  th:text="${hr.getWeeks()}"></label>
					            <select  id="open" class="select-Time" th:name="${hr.weeks}+'_open'">
					            	<option th:each="time : ${intervals}" 
					                        th:value="${time}" 
					                        th:text="${time}" 
					                        th:selected="${time == hr.openTime}">
					                </option>
					                <!-- Add more time options as needed -->
					            </select>
					            <select  id="close" class="select-Time" th:name="${hr.weeks}+'_close'">
					            	<option th:each="time : ${intervals}" 
					                        th:value="${time}" 
					                        th:text="${time}" 
					                        th:selected="${time == hr.closeTime}">
					                </option>
					            </select>
					        </div>
					
					        <!-- <div class="day-row">
					            <label for="monday">Monday</label>
					            <select name="dayHours[1].openTime" id="monday_open" class="select-Time"></select>
					            <select name="dayHours[1].closeTime" id="monday_close" class="select-Time"></select>
					        </div>
					        
					        <div class="day-row">
					            <label for="monday">Tuesday</label>
					            <select name="dayHours[2].openTime" id="tuesday_open" class="select-Time"></select>
					            <select name="dayHours[2].closeTime" id="tuesday_close" class="select-Time"></select>
					        </div>
					        <div class="day-row">
					            <label for="monday">Wednesday</label>
					            <select name="dayHours[0].openTime" id="monday_open" class="select-Time"></select>
					            <select name="dayHours[0].closeTime" id="monday_close" class="select-Time"></select>
					        </div>
					        <div class="day-row">
					            <label for="monday">Thursday</label>
					            <select name="dayHours[0].openTime" id="monday_open" class="select-Time"></select>
					            <select name="dayHours[0].closeTime" id="monday_close" class="select-Time"></select>
					        </div>
					        <div class="day-row">
					            <label for="monday">Friday</label>
					            <select name="dayHours[5].openTime" id="driday_open" class="select-Time"></select>
					            <select name="dayHours[5].closeTime" id="friday_close" class="select-Time"></select>
					        </div>
					        <div class="day-row">
					            <label for="monday">Saturday</label>
					            <select name="dayHours[6].openTime" id="saturday_open" class="select-Time"></select>
					            <select name="dayHours[6].closeTime" id="saturday_close" class="select-Time"></select>
					        </div> -->
					
					        <!-- Repeat the same structure for other days of the week -->
					
					        
					
					        <!-- ... -->
					        <!-- Add remaining days -->
					        
					        <!-- Save Button -->
					        <button type="submit" class="save-button">Save</button>
					    </form>
					                        
                    </div>
            </main>
        
        <!-- end of content div-->    
        </div>

    <!--end of body div-->    
    </div>

    <script th:src="@{/js/viewTable.js}"></script>
    <script th:src="@{/js/availability.js}"></script>
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>